---
import { Picture } from "@astrojs/image/components";

export interface Props {
  id: string;
  title: string;
  image: ImageMetadata;
  reverse?: boolean;
}

const { title, id, image, reverse = false } = Astro.props;
---

<section
  id={id}
  class={`md:flex min-h-[66vh] w-full scroll-mt-24 md:justify-center ${
    reverse ? "md:flex-row-reverse" : ""
  }`}
>
  <div
    class="flex w-full flex-col items-center justify-center gap-4 px-8 py-16 md:w-1/2"
  >
    <div class="flex flex-col items-center gap-4">
      <slot name="eyebrow" />
      <div class="flex items-center gap-4">
        <h2
          class="gradient-text text-center font-extrabold tracking-tight text-2xl md:text-5xl"
        >
          {title}
        </h2>
        <slot name="icon" />
      </div>
    </div>
    <p class="max-w-2xl text-center font-medium">
      <slot name="lead" />
    </p>
    <slot />
  </div>
  <div class="w-full md:w-1/2">
    <Picture
      class="h-full w-full object-cover"
      src={image.src}
      alt={title}
      widths={[300, 600, 900, 1200, 1800, 2400]}
      aspectRatio={image.width / image.height}
    />
  </div>
</section>
