---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import micImage from "~/assets/jonathan-velasquez-unsplash.jpg";
---

<ContentSection
  title="A Creative Haven"
  id="about"
  image={micImage}
  reverse={true}
>
  <Icon slot="eyebrow" name="the-lab-logo" class="h-16 md:h-32" />
  <Fragment slot="lead">
    We understand the importance of finding your groove. Our team of
    <span class="text-primary">experienced creatives</span> have honed their craft
    in various studios across the globe. And when we set out to create our own, we
    knew one thing for sure - we wanted to build a space that felt like a <span
      class="text-primary">sanctuary</span
    >. At our studio, you'll find <span class="text-primary"
      >top-of-the-line equipment</span
    >, but you'll also find a <span class="text-primary">cozy atmosphere</span> that
    invites you to settle in and stay a while.
    <br />
    <br />
    Looking to collaborate with us and bring your vision to life? <span
      class="text-primary">Schedule a session</span
    >
    with us today below. We can't wait to make some magic with you.
  </Fragment>
  <a
    href="#schedule"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <Icon pack="mdi" name="calendar" class="h-8" />
    <span>Schedule now</span>
  </a>
</ContentSection>
