---
import { Picture } from "@astrojs/image/components";
import theLabLogo from "~/assets/the-lab-logo.png";
import HeroImage from "~/components/hero-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <div class="absolute inset-0 opacity-40">
    <HeroImage />
  </div>
  <div class="relative flex h-full items-center justify-center">
    <Picture
      class="w-60 object-cover md:w-80"
      src={theLabLogo}
      widths={widths}
      sizes={sizes}
      alt="Recording studio image"
    />

    <style>
      @keyframes float {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(0, 30px, 0);
        }
      }

      #astronaut {
        animation: float linear 2.5s infinite alternate;
      }

      @media (prefers-reduced-motion: reduce) {
        #astronaut {
          @apply animate-none;
        }

        :global(#starfield) {
          @apply hidden;
        }
      }
    </style>
  </div>
</section>
