---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import controlsImage from "~/assets/the-lab-controls.jpg";
import { Accordion, AccordionItem } from "accessible-astro-components";
---

<ContentSection title="Studio" id="studio" image={controlsImage}>
  <Icon slot="icon" pack="mdi" name="clipboard-list-outline" class="h-16" />
  <Fragment slot="lead">
    Welcome to our <span class="text-primary">state-of-the-art</span> recording studio.
    We've equipped our space with everything you need to create your best work yet.
    From <span class="text-primary">top-of-the-line</span>
    equipment to <span class="text-primary">experienced professionals</span>,
    our studio is designed to help you achieve your musical vision.
    <br />
    <br />
    Here are just a few of the things you can expect when you record with us:
  </Fragment>
  <Accordion>
    <AccordionItem header="Professional Audio Mixing and Mastering Tools">
      <p>
        Our recording studio is fully equipped to provide exceptional sound
        quality for any recording project. We have a selection of
        top-of-the-line microphones, including the <span class="text-primary"
          >Lauten Audio Clarion</span
        >, as well as high-quality speakers such as the <span
          class="text-primary">Barefoot Footprint 01</span
        >, <span class="text-primary">Dynaudio</span>, and <span
          class="text-primary">Mixcubes</span
        >. Our analog gear includes the <span class="text-primary"
          >Neve 1073</span
        >, <span class="text-primary">Purple M77</span>, <span
          class="text-primary">Distressor</span
        >, and <span class="text-primary">Apollo Interface</span>, which allow
        us to capture and produce professional-grade recordings. Additionally,
        we offer a <span class="text-primary">scat microphone</span> for artists
        to lay down their ideas before entering the booth.
        <br /> Whether you're recording vocals, instruments, or mixing and mastering,
        our studio has everything you need to create outstanding audio productions.
      </p>
    </AccordionItem>
    <AccordionItem header="Acoustic Treatment">
      <p>
        Proper acoustic treatment can make a significant difference in the sound
        quality of a recording. Our studio has been acoustically designed to
        minimize unwanted reflections and ensure an accurate listening
        experience.
      </p>
    </AccordionItem>
    <AccordionItem header="Experienced Audio Engineers and Producers">
      <p>
        A high-quality recording studio should have a team of experienced
        professionals who can guide you through the recording process and help
        you achieve your vision. Our team of engineers and producers are here to
        help you make your music the best it can be.
      </p>
    </AccordionItem>
    <AccordionItem header="Comfortable and Inviting Environment">
      <p>
        Recording can be a long and sometimes stressful process. That's why our
        studio has been designed with comfort and relaxation in mind. We want
        you to feel at home here so you can focus on making great music.
      </p>
    </AccordionItem>
  </Accordion>
</ContentSection>
